/* Global */

* {
font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

/* Chats Page */

.chats-page {
box-shadow: 0 2px 15px rgb(0 0 0 / 68%);
}

/* Chat List */
.ce-wrapper {
background-color: #000000 !important;
}

.ce-chats-container {
background-color: #000000 !important;
border-radius: 0px !important;
}

.ce-chat-form-container {
background-color: black !important;
color: gray;
}

.ce-chat-card {
margin: 0px 6px !important;
}

.ce-chat-card-loading-bar {
background-color: #000000 !important;
}

.ce-active-chat-card {
background-color:	#000000 !important;
border-radius: 0px;
border: 1px solid grey !important;
}

.ce-chat-title-text {
color: white !important;
font-size: larger;
text-transform: capitalize;
}

.ce-chat-subtitle-text {
color: white !important;
}

.ce-chat-unread-dot {
background-color: white !important;
}

/* Chat Feed */

.ce-chat-title-container {
background-color: #323232 !important;
border-radius: 0px !important;
}

.ce-chat-feed-container {
background-color: #000000 !important;
}

.ce-primary-button {
background-color:#1982FC !important;
}

.ce-message-date-text {
color: hsla(0, 0%, 100%, 0.568) !important;
}

.ce-my-message-bubble  {
background: #1982FC !important;
}

.ce-my-message-sinding-bubble {
background-color:	#1982FC !important;
}

.ce-my-message-timestamp {
color: white !important;
}

.ce-their-message-timestamp {
color: hsla(0, 0%, 100%, 0.568) !important;
}

#ce-send-message-button {
background-color:	#1982FC !important;
}

#ce-ice-breaker-gif {
max-width: 115px !important;
margin-top: 30px !important;
}

.ce-social-message-form {
background-color: #000000 !important;
}

.ce-message-input-form {
padding-bottom: 10px !important;
}

#msg-textarea {
width: calc(100% - 140px) !important;
position: relative !important;
top: 4px !important;
border-radius: 24px !important;
box-sizing: border-box !important;
border: 1px solid grey !important;
background-color: #000000 !important;
color: white !important;

}
#msg-textarea::placeholder {
color: hsla(0, 0%, 100%, 0.568) !important;
}

#ce-upload-document-icon {
color: white !important;
}

.ce-feed-container-bottom {
height: "44px";
}

.ce-message-images-row {
background-color: #000000 !important;
}

.ce-their-message-sender {
color: hsla(0, 0%, 100%, 0.568) !important;
}

.ce-their-message-bubble {
background-color: #535a6d !important;
color:#7D7D7D !important;
}

/* Chat Settings */

.ce-settings {
background-color: #000000 !important;
border-radius: 0px !important;
}

.ce-chat-title-form .ce-text-input {
background-color: #000000;
color: white;
text-transform: capitalize;
}

.ce-section-title-container {
background-color: #000000 !important;
color: white;
}

#ce-options-drop-down {
background-color: #000000 !important;
color: white;
}

.ce-person-text {
color: hsla(0, 0%, 100%, 0.568);
}

.ce-danger-button {
background-color: #000000 !important;
border: 1px solid red !important;
color: red !important;
}

.ce-autocomplete-close {
background-color: white !important;
border-radius: 0px !important;
}

.nav-bar {
width: 100%;
height: 50px;
background-color: #000000;
}

.logo-tab {
position: absolute;
left: 22px;
top: 12px;
font-size: 32px;
font-weight: 700;
color: white;
}

.logout-tab {
position: absolute;
font-size: larger;
top: 22px;
right: 22px;
color: white;
cursor: pointer;
}

::-webkit-scrollbar {
width: 0; /* Remove scrollbar space */
background: transparent; /* Optional: just make scrollbar invisible */
}

/* Login Page */

#login-container {
background: #0c0c0c;
display: flex;
justify-content: center;
align-content: center;
height: 800px;
position: relative;
z-index: 1;
}

#login-page {
position: relative;
top: 0;
bottom: 0;
right: 0;
left: 0;
width: 100%;
height: 100%;
overflow: hidden;
}

#login-video {
width: 100%;
height: 100%;
-o-object-fit: cover;
object-fit: cover;
background: #232a34;
}

#login-card {
position: fixed;
top: calc(50vh - 144px);
left: calc(50vw - 210px);
padding-top: 36px;
padding-bottom: 66px;
width: 420px;
text-align: center;
background-color: #4a5162;
border-radius: 22px;
}

#log-container {
z-index: 3;
max-width: 1200px;
position: fixed;
padding: 8px 24px;
display: flex;
flex-direction: row;
align-items: ceter;
}

.login-button {
cursor: pointer;
color: white;
padding: 12px;
border-radius: 8px;
display: inline-block;
}

.twitter {
background-color: #3b5998;
color: white;
}

.google {
background-color: #4285f4;
color: white;
}

#loading-container {
position: absolute;
top: 0px;
bottom: 0px;
left: 0px;
right: 0px;
background-color: rgb(255, 255, 255, 0.22);
}

#loading-icon {
font-size: 66px;
position: relative;
left: calc(50vw - 33px);
top: calc(50vh - 22px);
}


/* Home */

#home-container {
background: #0c0c0c;
display: flex;
justify-content: center;
align-content: center;
height: 800px;
position: relative;
z-index: 1;
}

#home-bg {
position: relative;
top: 0;
bottom: 0;
right: 0;
left: 0;
width: 100%;
height: 100%;
overflow: hidden;
}

#home-video {
 height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

#pages-container {
z-index: 3;
max-width: 1200px;
position: relative;
padding: 8px 0px;
display: flex;
flex-direction: row;
align-items: center;
}
#title-container {
z-index: 3;
max-width: 1200px;
position: fixed;
padding: 8px 24px;
align-items: center;
}
/* NAV */

.rs-navbar-default {
background-color: transparent;
}

#nav-container {
  width: 100%;
  height: 50px;
  z-index: 3;
  position: fixed;
}
/* pages */


.card {
border: none;
float: left;
height: 340px;
transition: transform 1s;
transform-style: preserve-3d;
position: relative;
perspective: 1000px;
display: grid;
grid-template-columns: 200px;
grid-template-rows: 160px 160px 20px;
grid-template-areas: "image" "text" "stats";
font-family: roboto;
text-align: center;
cursor: pointer;
margin:30px;
}
.card-image {
grid-area: image;
border-top-left-radius: 15px;
border-top-right-radius: 15px;
background-size: cover;
}

.card-text {
grid-area: text;
margin: 25px;
}

.card-text p {
color: grey;
font-size:10px;
font-weight: 300;
}
.card-text h2 {
margin-top:0px;
font-size:28px;
}
.card-stats {
grid-area: stats; 
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr;
border-bottom-left-radius: 15px;
border-bottom-right-radius: 15px;
background: rgb(255, 7, 110);
}

.card:hover {
transform: scale(1.15);
box-shadow: 0px 8px 16px 0px navy;
-webkit-box-shadow: 0px 8px 16px 0px navy;
-moz-box-shadow: 0px 8px 16px 0px navy;
}

/*card2*/
.card-image.card2 {
background-size: cover;
}
.card-stats.card2 .border {
border-left: 1px solid rgb(185, 67, 20);
border-right: 1px solid rgb(185, 67, 20);
}
.card-stats.card2 {
background: rgb(255, 77, 7);
}
/*card3*/
.card-image.card3 {
background-size: cover;
}

.card-stats.card3 .border {
border-left: 1px solid rgb(14, 122, 50);
border-right: 1px solid rgb(14, 122, 50);
}
.card-stats.card3 {
background: rgb(0, 189, 63);
}

.card-image.card4 {
background-size: cover;
}

.card-stats.card4 .border {
border-left: 1px solid rgb(35, 0, 189);
border-right: 1px solid rgb(35, 0, 189);
}
.card-stats.card4 {
background: rgb(35, 0, 189);
}


@import url('https://fonts.googleapis.com/css?family=Lobster&display=swap');


.card-container{
font-family: 'Lobster', cursive;
height: 39.375rem;
width: 22.5rem;
position: relative;
background-color: gray;
overflow: hidden;
box-shadow: 0 0 11.25px gray;
border-radius: 11.25px;
margin: 3rem;
display: grid;
grid-template-rows: 55% 10% 5% 20% 10%;
grid-template-areas: "img-section" "name-section" "title-section" "desc-section" "social-section";
text-align: center;
}
.card-container:hover{
box-shadow: 0 0 22.5px gray;
}

.img-card-section{
grid-area: img-section;
overflow: hidden;
position: relative;
}
.img-card-square{
background-color: gray;
height: 28.125rem;
width: 11.25rem;
position: absolute;
transform: rotate(70deg);
top: 6.75rem;
left: 5.625rem;

}

.img-card-style{
height: 100%;
width: 22.5rem;
}


.name-card-section{
grid-area: name-section;
font-size: 2.025rem;
color: black;
}

.title-card-section{
grid-area: title-section;
font-size: 1.35rem;
color: black;
}

.desc-card-section{
grid-area: desc-section;
font-size: 1.05rem;
margin: .5625rem 1.6875rem;
color: #000000;
}

.social-card-section{
grid-area: social-section;
margin:auto;
}
.social-card-style{
display: inline-flex;
height: 2.25rem;
margin: 0 1.125rem;
transition: all .3s;
}
.social-card-style:hover{
transform: scale(1.2);
}


.profile-img-card{
position: absolute;
height: 11.25rem;
width: 11.25rem;
box-shadow: 0 0 0 3.0px black;
border-radius: 50%;
top: calc(50% - 11.25rem);
left: calc(50% - 5.625rem);
}

.video-id-ipad{
  width: 768px;
  height: 576px;
}

#video-container {
  z-index: 3;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  position: fixed;
  padding: 8px 24px;
  margin-top: 200px;
  margin-right: -500px;
  align-items: center;
  }

  #video2-container {
    z-index: 3;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    position: fixed;
    padding: 8px 24px;
    margin-top: 200px;
    margin-left: -600px;
    align-items: center;
    }

    #video3-container {
      z-index: 3;
      max-width: 1200px;
      display: flex;
      flex-direction: row;
      position: fixed;
      padding: 8px 24px;
      margin-top: 550px;
      margin-left: -50px;
      align-items: center;
      }

      #video-title-container {
        z-index: 3;
        font-size: medium;
        position: fixed;
        margin-top: 600px;
        margin-left: -50px;
        padding: 8px 24px;
        align-items: center;
        }
  
/* learn */

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: 10px;
}


.container {
  width: 100%;
  height: 65vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
}

.container h2 {
  letter-spacing: 1px;
  font-size: 50px;
  color: #6968aa;
  border: 2px dashed #0181a0;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 10px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  margin-top: 90px;
  margin-left: 375px;
}

.blog-post {
  width: 100%;
  max-width: 98rem;
  padding: 5rem;
  background-color: gray;
  box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  border-radius: .8rem;
  margin: 10px;
}

.blog-post_img {
  min-width: 35rem;
  max-width: 35rem;
  height: 30rem;
  transform: translateX(-8rem);
  position: relative;
}

.blog-post_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: .8rem;
  display: block;
}

.blog-post_img img::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: .5rem .5rem 3rem 1px rgba(0, 0, 0, 0.5);
  border-radius: .8rem;
}

.blog-post_date span {
  display: block;
  color: #00000080;
  font-size: 1.6rem;
  font-weight: 600;
  margin: .5rem 0;
}

.blog-post_title {
  font-size: 2.5rem;
  margin: 1.5rem 0 2rem;
  text-transform: uppercase;
  color: #4facfe;
}

.blog-post_text {
  margin-bottom: 3rem;
  font-size: 1.4rem;
  color: #000000b3;
}

.blog-post_cta {
  display: inline-block;
  padding: 1.5rem 3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
  border-radius: .8rem;
  background: linear-gradient(to right, #c945cf 0%, #04a6bd 100%);
}

.blog-post_cta:hover {
  background: linear-gradient(to right, #04a6bd 0%, #c945cf 100%);
}

@media screen and (max-width: 1068px) {
  .blog-post {
      max-width: 80rem;
  }
  .blog-post_img {
      min-width: 30rem;
      max-width: 30rem;
  }
  .container h2 {
      margin-top: 120px;
      margin-left: 275px;
  }
}

@media screen and (max-width: 868px) {
  .blog-post {
      max-width: 70rem;
  }
  .container h2 {
      margin-top: 20px;
      margin-left: 142px;
  }
}

@media screen and (max-width: 768px) {
  .blog-post {
      padding: 2.5rem;
      flex-direction: column;
  }
  .blog-post_img {
      min-width: 100%;
      max-width: 100%;
      transform: translate(0, -1rem);
  }
  .container {
      margin-top: auto;
  }
}

@media screen and (max-width: 823px) {
  .container h2 {
      margin-top: 35px;
      margin-left: 142px;
  }
}

/* Games */

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lemonada:wght@500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #3b3b3b;
}


/* Learn  */

#search {
  width: 25% !important;
  margin-right: 0.25em!important;
  margin-left: 0.25em!important;
}